name: Cargo

on: [push, pull_request]
jobs:

  clippy:
    name: clippy/check/doc
    runs-on: self-hosted
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y && \
          sudo apt-get install -y --no-install-recommends \
            cmake \
            g++ \
            libsasl2-dev \
            libssl-dev \
            libudev-dev \
            pkg-config \
            protobuf-compiler

      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly-2022-12-11
            override: true
            components: rustfmt, clippy
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', 'rust-toolchain.toml') }}-v1

      - name: cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-features

      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-features --release

      - name: check lockfile
        run: |
          diff Cargo.lock <(git show HEAD:Cargo.lock)

      - name: cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --workspace --all-features

  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly-2022-12-11
            override: true
            components: rustfmt, clippy
      - name: cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --check
