name: Release Image
on:
  push:
    branches:
      - main
      - release 

jobs:
  release:
    strategy:
      matrix:
        arch: [amd64, arm64]
    runs-on: ${{ matrix.arch }}
    environment: release
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        run: docker context create ci 
      - 
        run: docker context use ci 
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: image=moby/buildkit:master
          version: v0.10.4
          endpoint: ci
      - 
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      -
        name: Build and push ${{ github.event.repository.name }}
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          target: ${{ github.event.repository.name }}
          push: true
          provenance: false
          platforms: linux/${{ matrix.arch }}
          tags: ${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest-${{ matrix.arch }}
          cache-from: type=s3,region=${{ vars.AWS_REGION }},bucket=${{ vars.AWS_BUCKET }},prefix=buildx/${{ github.event.repository.name }}/${{ matrix.arch }}/,access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }},secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          cache-to: type=s3,region=${{ vars.AWS_REGION }},bucket=${{ vars.AWS_BUCKET }},prefix=buildx/${{ github.event.repository.name }}/${{ matrix.arch }}/,access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }},secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }},mode=max
      -
        name: Build and push ${{ github.event.repository.name }}-migrations
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          target: migrator
          push: true
          provenance: false
          platforms: linux/${{ matrix.arch }}
          tags: ${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}-migrations:latest-${{ matrix.arch }}
          cache-from: type=s3,region=${{ vars.AWS_REGION }},bucket=${{ vars.AWS_BUCKET }},prefix=buildx/${{ github.event.repository.name }}/${{ matrix.arch }}/,access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }},secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          cache-to: type=s3,region=${{ vars.AWS_REGION }},bucket=${{ vars.AWS_BUCKET }},prefix=buildx/${{ github.event.repository.name }}/${{ matrix.arch }}/,access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }},secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }},mode=max 
